{% extends 'login-base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}

<div class="container login">

<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
    
        <div class="bg-light py-3 px-3">
            

            <div class="card login">
                <div class="card-body">
                    <h3 mt-4 class="text-center mb-2">intramilo</h3>
                    <p class="text-center">Réinitialisation du mot de passe</p>

                    <div class="login-form">
                        <form action="{{ path('account_reset_password_token', {'id': user.id, 'token': user.token}) }}" method="post">
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" name="password" id="password" placeholder="Mot de passe" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe (à nouveau)</label>
                                <input type="password" name="password2" id="password2" placeholder="Mot de passe (à nouveau)" class="form-control" required>
                            </div>
                            <a href="{{ path('account_login') }}">
                                    <button type="button" class="btn btn-light btn-pill mt-3">Retour</button>
                            </a>
                            <button type="submit" class="btn btn-primary btn-pill mt-3">Réiniatliser le mot de passe</button>
                        </form>
                    </div>
                </div>
            </div>


            
        </div>

    </div>
</div>
    
</div>
{% endblock %}
