{% extends 'login-base.html.twig' %}

{% block title %}
    Lien expiré
{% endblock %}


{% block body %}

<div class="container my-container text-center">
    <div class="error-container">

        <p class="error-status rouge"><i class="uil uil-link-broken"></i></p>
        <p class="error-message">Lien expiré </p>
        <p class="error-content">Ce lien a expiré ou n'est plus valide. Veuillez à nouveau saisir la demande.</p>

        {# <a href="{{ path('homepage')}}" class="btn btn-my-outline mt-2">Retour à l'accueil</a> #}
        <a href="{{ path('account_reset_password') }}" class="btn btn-my-secondary mt-2 ml-2">Réessayer</a>
    
    </div>
</div>

{% endblock %}