{% extends 'login-base.html.twig' %}

{% block title %}Mail envoyé{% endblock %}

{% block body %}

<div class="container login">

<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">

        <div class="mt-4 alert alert-success" role="alert">
            <h4 class="alert-heading">Mail envoyé !</h4>
            <p>Un mail a été envoyé afin que vous puissiez renouveller votre mot de passe. Le lien que vous recevrez sera valide 24h.</p>
            
            <a href="{{ path('account_login') }}" class="btn btn-outline-light success">Retour à la page de connexion</a>
        </div>

    </div>
</div>
    
</div>
{% endblock %}
