{% extends 'login-base.html.twig' %}

{% block title %}Lien expiré{% endblock %}

{% block body %}

<div class="container login">

<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">

        <div class="mt-4 alert alert-danger" role="alert">
            <h4 class="alert-heading">Lien expiré ou invalide</h4>
            <p>Ce lien a expiré ou n'est plus valide. Veuillez à nouveau saisir la demande.</p>
            
            <a href="{{ path('account_reset_password') }}" class="btn btn-outline-light success">Réessayer</a>
        </div>

    </div>
</div>
    
</div>
{% endblock %}
