{% extends 'login-base.html.twig' %}

{% block title %}Mail envoyé{% endblock %}

{% block body %}

<div class="bg-white">
    <div class="container login mt-0">

    <div class="row">
        <div class="offset-md-3 col-md-6 text-center">

            {# logo #}
            <img class="logo large" src="{{ asset('images/logo_intramilo_large.png') }}" alt="Logo Intramilo">

            {# Description #}
            <div class="description">
                Mail envoyé 👍<br><br>
                Un lien a été envoyé sur votre adresse mail afin que vous puissiez réinitialiser votre mot de passe.
            </div>
            <div class="no-account">
                <a href="{{ path('account_login') }}">Retour à la page de connexion</a>
            </div>
        
        </div>

    </div>
</div>

{# <div class="container login">

<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">

        <div class="mt-4 alert alert-success" role="alert">
            <h4 class="alert-heading">Mail envoyé !</h4>
            <p>Un mail a été envoyé afin que vous puissiez renouveller votre mot de passe. Le lien que vous recevrez sera valide 24h.</p>
            
            <a href="{{ path('account_login') }}" class="btn btn-outline-light success">Retour à la page de connexion</a>
        </div>

    </div>
</div>
    
</div> #}
{% endblock %}
