<footer class="pt-2 pb-4 text-center my-foot">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img src="/images/logo_milo.png" alt="Logo Mission Locale de l'arrondissment de Dijon">
            </div>
            <div class="col-6">
                <p class="mt-4">Outil de la Mission Locale de l'arrondissement de Dijon (2020)</p>
            </div>
            <div class="col-3">
                <a href="https://www.facebook.com/MissionLocaleDijon/" target="_blank"><i class="mt-3 p-2 fab fa-2x fa-facebook-square"></i></a>
                <a href="https://twitter.com/missionlocale21?lang=fr" target="_blank"><i class="mt-3 p-2 fab fa-2x fa-twitter-square"></i></a>
                <a href="https://www.instagram.com/milodijon21/" target="_blank"><i class="mt-3 p-2 fab fa-2x fa-instagram"></i></a>

            </div>
        </div>
    
    </div>
    
    
</footer>