<div class="documentation-header">
    <div class="container">
        <div class="row">
            <div class="col-7">

                <h1 class="my-h1 marine">Documentation</h1>
                <p class="my-secondary marine">Toutes les ressources dont vous avez besoin en un seul endroit</p>
                <div class="row text-left">
                    <div class="col-md-8">

                        <form class="search-form">
                            <div class="input-group">

                                <form action="{{ path('search_index') }}" method="get">
                                    <input type="text" class="form-control my-0" id="formGroupExampleInput2" placeholder="Entrez un mot-clé" name="q" required
                                    value="{% if query is defined %}{{ query }}{% endif %}">
                                    <div class="input-group-append inline">
                                        <button class="btn btn-outline-secondary" type="submit"><i class="uil uil-search"></i></button>
                                    </div>
                                </form>

                            </div>
                        </form>
                        
                    </div>
                </div>
            
            
            </div>
            <div class="col-5">
                <img src="images/documentation.svg" class="" alt="Image d'illustration de la Documentation">
            </div>
        </div>
    </div>
</div>