.btn, span.my-badge{
    font-family: 'Karla';
    font-weight: 600;

    padding: 0.3em 1em 0.3em 0.5em;
    border-radius: 8px;
    letter-spacing: 0.3px;
}

.btn.small{

   font-size: 0.7em; 

}


.btn.btn-my-add-admin{

    background: var(--purple-transparent-color);
    color: var(--purple-color);

    font-weight: 600;
    margin-left: 20px;

}

.btn.btn-my-add-admin:hover{

    background-color: var(--purple-color);
    color:white;

}

.btn.btn-my-transparent{

    background: transparent;
    color: white;
    padding: 0;

    font-weight: 600;

}

.btn.btn-my-transparent:hover{

    color:white;

}


.btn.btn-my-light{

    background: var(--light-transparent-color);
    color:white;

    font-weight: 600;

}

.btn.btn-my-light:hover{

    background: white;
    color:black;

}

.btn.btn-my-dark{

    background: var(--grey-20-color);
    color:black;

    font-weight: 600;

}

.btn.btn-my-dark:hover{

    background: black;
    color:white;

}

.btn.btn-my-secondary{

    background: transparent;
    color:var(--grey-50-color);

    font-weight: 600;

}

.btn.btn-my-secondary:hover{

    background: var(--grey-10-color);

}

.btn.btn-my-secondary.active{

    background: var(--blue-color);
    color: white;
}


.btn.btn-my-primary{

    background: var(--blue-color);
    color: white;

    font-weight: 600;

}

.btn.btn-my-primary:hover{

    background: var(--blue-color);
    color: white;

    font-weight: 600;

}

.btn.btn-my-warning{

    background: var(--orange-transparent-color);
    color: var(--orange-color);

    font-weight: 600;

}

.btn.btn-my-warning:hover{

    background: var(--orange-color);
    color: white;

    font-weight: 600;

}

.btn.btn-my-danger{

    background: var(--red-transparent-color);
    color: var(--red-color);

    font-weight: 600;

}

.btn.btn-my-danger:hover{

    background: var(--red-color);
    color: white;

    font-weight: 600;

}


.btn.btn-my-return{

    background: transparent;
    color: black;

    font-weight: 500;

}

/* Boutons poles et filtres */
.btn.my-filter{

    color: var(--grey-50-color);
    background-color: white;

    padding: 8px 17px 8px 10px;
    
    margin: 7px;

}

.btn.my-filter.active,
.btn.my-filter:hover{

    background-color: var(--grey-50-color);
    color: white!important;
    border-color: var(--grey-10-color);

}

/* Dot */
span.my-dot{

    padding-left: 5px;
    padding-right: 5px;

}

.btn.my-filter:hover span.my-dot,
.btn.my-filter.active span.my-dot{
    color: white!important;
}

span.my-badge{

    font-size: 0.9em;
    padding: 8px 10px;

}

.my-card span.my-badge{

    font-size: 0.65em;
    padding: 7px 10px;

}

/* Gestion des couleurs des Badge Pole*/
.btn.my-filter.pole span.my-dot.bleu{
    color: var(--blue-color);
}

.btn.my-filter.pole.bleu.active,
.btn.my-filter.pole.bleu:hover{

    background-color: var(--blue-color);

}
span.my-badge.pole.bleu{

    background: var(--blue-transparent-color);
    color: var(--blue-color);

}

.btn.my-filter.pole span.my-dot.violet{
    color: var(--purple-color);
}

.btn.my-filter.pole.violet.active,
.btn.my-filter.pole.violet:hover{

    background: var(--purple-color);

}
span.my-badge.pole.violet{

    background: var(--purple-transparent-color);
    color: var(--purple-color);
    
}

.btn.my-filter.pole span.my-dot.rose{
    color: var(--pink-color);
}

.btn.my-filter.pole.rose.active,
.btn.my-filter.pole.rose:hover{

    background: var(--pink-color);

}
span.my-badge.pole.rose{


    background: var(--pink-transparent-color);
    color: var(--pink-color);
    
}

.btn.my-filter.pole span.my-dot.orange{
    color: var(--orange-color);
}

.btn.my-filter.pole.orange.active,
.btn.my-filter.pole.orange:hover{

    background: var(--orange-color);

}
span.my-badge.pole.orange{

    background: var(--orange-transparent-color);
    color: var(--orange-color);
    
}

.btn.my-filter.pole span.my-dot.jaune{
    color: var(--yellow-color);
}

.btn.my-filter.pole.jaune.active,
.btn.my-filter.pole.jaune:hover{

    background: var(--yellow-color);

}
span.my-badge.pole.jaune{

    background: var(--yellow-transparent-color);
    color: var(--yellow-color);
    
}

/* Pills */
ul li a.my-pill{

    font-family: 'Poppins', sans-serif;

    background-color: var(--grey-10-color);
    color: black;

    font-size: 12px;
    font-weight: 500;

    padding: 5px 10px!important;
    margin-left: 5px;

}

ul li a.my-pill.active{

    background-color: var(--blue-color);
    color: white;

}






