/* Documentation Header (liste des Pôles, Catégories et Sous-Catégories) */
div.documentation-header{

    padding-top: 40px;

}

div.documentation-header h1.my-h1{

    margin-bottom: 5px;

}

div.documentation-header p{


    font-size: 1.1em!important;

}

div.documentation-header img{

    height: 350px;
    position: absolute;
    top: 20px;

}

form.search-form {

    /* margin-top: 30px; */

}

form.search-form input{

    border-radius: 0 8px 8px 0;
    border-radius: 8px;
    width: 200px;

    /* border-left: transparent; */

}

.input-group-prepend span{

    font-size: 14px;
    border-radius: 8px 0 0 8px;

    border-right: none;
}


form.search-form input::placeholder,{

    color: var(--marine-color);
    opacity: 0.4;

}



form.search-form button, form.search-form button:focus{

    font-size: 1.6em;

    color: var(--blue-color);
    background-color: white;

    border-radius: 0px 10px 10px 0px;
    border: 1px solid var(--grey-10-color);
    border-left: none;
    padding: 0 15px;

    box-shadow: none;

    margin-top: 0;
    
}

form.search-form button:hover{

    background-color: var(--blue-color);
    color: white;
    
}

/* Documentation Cards Container */
div.my-background{

    background-color: var(--blue-background-color);
    margin-top: 0;
    padding-bottom: 300px;

}

div.cards-container{

    margin-top: 0;
    padding-top: 30px;

}

/* Liste des documents */

/* Entete */
.btn-primary.btn-sm{

    color: white!important;

}

.folder-header div.container{

    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 10px;

}

.folder-header{

    font-family: 'Poppins', sans-serif;

}

.folder-header div.category-title{

    font-weight: 700;
    font-size: 48px;

    color: black;

}

.folder-header div.category-subtitle{

    font-weight: 700;
    font-size: 30px;

    color: var(--grey-50-color);

}

/* Illustrations */
img.folder-illustration{

    height: 320px;
    position: absolute;
    top: -40px;


}


/* Icones */
.my-circle{

    background-color: var(--blue-color);

    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;

}

.my-circle .icon{

    font-size: 1.2em;
    line-height: 36px;
    color: white;
}

.my-circle.small{

    background-color: var(--blue-color);

    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;

}

.my-circle.small .icon{

    font-size: 1.2em;
    line-height: 23px;
    color: white;
}


/* Fichiers */

div.card.my-card.file{

    font-family: 'Poppins', sans-serif;
    padding-top: 0;
    padding-bottom: 0;

}

div.card.my-card.file table{

    width: 100%;

}

div.card.my-card.file td.file-icon{

    width: 5%!important;

    padding-top: 12px;
    vertical-align: top;
}

div.card.my-card.file td.file-content{

    width: 90%!important;
}

div.card.my-card.file td.file-content{

    padding-left: 20px;
    padding-right: 30px;

}

    .file-title{

        color: black;
        font-size: 20px;
        font-weight: 700;

    }

    .file-title:hover{

        color: var(--purple-color)!important;

    }

    .title-secondary{

        color: black;
        font-size: 13px;
        font-weight: 500!important;

    }
        .file-title i{
            
            margin-bottom: 2px;
            margin-left: 4px;
            vertical-align: middle;
        }

        i.success, td.success{
            
            color: var(--blue-color);

        }

        i.warning, td.warning{
            
            color: var(--orange-color);

        }

        i.danger, td.danger{
            
            color: var(--red-color);

        }

        i.light, td.light{
            
            color: var(--grey-50-color);

        }

    .file-organization{

        font-weight: 500;
        color: var(--blue-color);
        font-size: 15px;
    }

    .file-data{

        font-size: 0.9em;
    }


div.card.my-card.file td.file-author{

    width: 5%!important;
}

table.my-table td.file-author{

    vertical-align: bottom;
    text-align: right;

}

table.my-table td.file-author div{

    float: right;
    margin-right: 10px;

}

.author td.picture{

    width: 40px;

}


/* Sheet */
div.container-fluid.sheet-container{

    margin-top: 0;
    min-height: 100vh;

}

div.sidebar{

    padding: 70px 20px 0px 20px;

}

.sheet-container div.content{

    padding: 40px 40px 40px 60px;
    min-height: 100vh;


}
/* 
@media (max-width: 500px) {

    .sheet-container div.content{

        padding: 70px 40px;
    
    }
} */

.sheet-container div.header{

    padding: 100px 20px 70px 0px;

}

/* Sommaire */
ul.sheet-menu {

    list-style-type: none;
    padding-left: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;

    color: black;

}

ul.sheet-menu li{

    padding-top: 5px;
    padding-bottom: 5px;
}

ul.sheet-menu a {

    list-style-type: none;
    padding-left: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;

    

    color: var(--grey-50-color);

}

ul.sheet-menu a:hover {

    color: black;

}


/* Content */
.sheet-title{

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    margin-top: 40px;
    margin-bottom: 2px;

}

.sheet-title i{

    vertical-align: middle;
    font-size: 23px;
    margin-left: 5px;

}

.sheet-subtitle{

    font-size: 21px;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 2px;
    line-height: 34px;
    font-family: "Roboto";
}

}

div.sheet-content{

    font-family: 'Poppins', sans-serif;
    color: var(--marine-color);
    margin-top: 30px;

}

div.sheet-content table{

    /* background-color: var(--purple-transparent-color)!important; */
    font-style: 15px!important;
    border-radius: 8px!important;

    color: var(--marine-color)!important;

    width: 100%!important;

    border: none!important;



}

div.sheet-content table{

    padding: 15px;
    margin-bottom: 10px;

    font-family: "Roboto", sans-serif;


}

div.sheet-content table th {

	font-weight: 500;
	padding: 7px 15px;
	text-align: center;
	border: none !important;
    vertical-align: top !important;
    
}

#accordion-h table th{

    text-align: left;
    width: 33%;
}

div.sheet-content table td{

    font-size: 14px;
    padding: 7px 15px;

    border: none!important;

}


div.sheet-content .header table td{

    white-space: pre-wrap;

}




div.sheet-tools{

    padding: 40px;

}

div.sheet-tools .front div.card {

    margin-top: 0px;

}

div.sheet-content h1, div.sheet-tools h1#outils, h1.headers{

    margin-top: 50px;
    margin-bottom: 40px;

    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;


}

div.sheet-content h2{

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;

}

div.sheet-content p{

    margin: 15px 0px;

}

div.sheet-content .paragraph-body p, div.sheet-content .paragraph-body li{

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 25px;

}

div.sheet-content .paragraph-body a{

    color: var(--purple-color);

}

div.sheet-introduction, div.sheet-introduction p, div.sheet-introduction li{

    font-size: 16px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

#block_introduction{

    z-index: 0;

}

.modal-dialog{

    z-index: 50;

}

/* div.sheet-content li:before {
    color: var(--blue-color);
} */

div.sheet-content blockquote, .cke_contents_ltr blockquote {
	padding: 1px 20px;
	border-left: 4px solid var(--pink-color);
	background-color: var(--pink-transparent-color);
	border-radius: 4px;
	margin: 22px 0px;
	color: var(--pink-color);
}

div.sheet-content ul, .cke_editable ul {
    list-style: none; /* Remove default bullets */
}

div.sheet-content ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--purple-color); /* Change the color */
 
    font-weight: 800; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 2em; /* Also needed for space (tweak if needed) */
    margin-left: -2em; /* Also needed for space (tweak if needed) */
}

/* Header */
.sheet-container div.header h2, .sheet-container div.summary h2, .my-title{

    font-family: 'Poppins', sans-serif;
    margin-top: 4px;
    margin-bottom: 14px;
    font-size: 17px;
    font-weight: 600;

}

.profile-sidebar .my-title{

    font-family: 'Poppins', sans-serif;

    margin-top: 15px;
    margin-bottom: 7px!important;

    font-size: 16px;
    font-weight: 500;

    color: var(--grey-70-color);

}

.my-title.strong{

    font-weight: 700;
}

div.card.header-card{

    border-radius: 14px 14px 0px 0px;

}

div.card.header-card .sheet-folder{

    margin-top: 10px;
    font-size: 12px;

}

div.card.header-card .title{

    color: white;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;

    margin-top: 25px;

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    
}

div.card.header-card .organization{

    font-size: 15px;
    margin-top: 5px;
    opacity: 0.7;
}


/* Organization */
div.card.my-card.organization-card{

    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: black;

    border-radius: 0;

    width: 300px;

    border-top: none!important;

    

}

div.card.my-card.interlocutor-card{

    border-top: none!important;
    font-family: "Roboto", sans-serif;

}

.interlocutors-container .interlocutor-card:last-of-type {
    /* border-radius: 0px 0px 20px 20px; */
}


td.interlocutor-contact{

    width: 50px;
    
}

td.interlocutor-contact i:hover{

    color: var(--purple-color);
    
}

.organization-logo{

    position: absolute;
    top: 280px;
    z-index: 10;
    left: 20px;
    background-color: var(--grey-15-color);
    border-radius: 25px;

}

.organization-title{

    font-size: 21px;
    font-weight: 600;

    line-height: 27px;

}

.organization-phone, .organization-email{

    font-size: 0.9em;

}

a.mail-link:hover{

    color: var(--purple-color)!important;

}


/* Dashboard */

/* Dashboard Sidebar */
div.my-sidebar{

    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 250px; /* Same as Content margin */
    height: 100%;

    padding: 20px 20px 60px 0px;
    display: inline-block;

    background-color: var(--grey-10-color);


}

div.my-sidebar .sidebar-title{

    font-size: 14px;
    font-weight: 600;
    color: var(--grey-40-color);

    text-transform: uppercase;
    line-height: 30px;

    margin-top: 40px;
    padding-left: 30px;
    

}

div.my-sidebar i{

    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

div.my-sidebar a.sidebar-link{


    font-size: 14px;
    font-weight: 600;
    color: var(--grey-70-color);
    width: 100%;

    line-height: 20px;
    display: inline-block;
    text-align: left;
    margin: 5px 0;
    padding: 10px 10px 10px 30px;

    border-radius: 0px 20px 20px 0px;

}

div.my-sidebar a.sidebar-link:hover{

    background-color: var(--grey-15-color);

}

div.my-sidebar a.sidebar-link.active{

    background-color: var(--blue-transparent-color);
    color: var(--blue-color);

}

/* Dashboard Content */

div.my-content{

    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 80vh;
    

    padding: 15px 60px 60px 280px; /* Same as Sidebar Width + 30px */

}

div.my-content .my-h1{
    
    font-size: 22px;
    font-weight: 600;
    color: black;

    margin-top: 40px;
    margin-bottom: 40px;
    
}

div.my-content div.main-content{

    width: 70%;
    display: inline-block;

}

div.my-content div.details{

    width: 30%;
    height: 500px;
    float: right;
    display: inline-block;

    margin-top: 125px;

    padding-left: 80px;

}



div.dashboard-content{

    background-color: var(--blue-background-color);
    padding: 10px 35px;

}

div.dashboard-content .my-h1{
 
    margin-top: 60px;
    
}


div.card table.my-table td.stat-bar{

    width: 80%;
    padding: 0;

}

div.card table.my-table td.porcentage{

    color: var(--blue-color);
    font-weight: 600;

}

div.bar{

    background-color: var(--blue-color);
    height: 4px;
    width: 100%;
    border-radius: 4px;

}

/* Table Notification */

div.card.my-card.notification td.file-icon-state{
    vertical-align: top;
    font-size: 1.7em;
    padding-right: 5px;
    padding-top: 7px;

    width: 20px;

}

div.card.my-card.notification div.file-title{
    
    /* font-size: 15px; */
    font-weight: 600;

}

div.card.my-card.notification div.file-state{
    
    font-size: 14px;
    font-weight: 500;

}

div.card.my-card.notification td.file-icon-state i{
    
    vertical-align: top;
    font-size: 18px;

}

div.card.my-card.notification div.notification-time{
    
    font-size: 14px;
    font-weight: 400;

}

div.notification-message{

    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    margin-top: 20px;

}

/* Danger */
div.card.my-card.notification.danger{

    background-color: var(--red-transparent-color);
}

div.card.my-card.notification.danger div,
div.card.my-card.notification.danger i{

    color: var(--red-color);

}


/* Warning */
div.card.my-card.notification.warning{

    background-color: var(--orange-transparent-color);
}

div.card.my-card.notification.warning div,
div.card.my-card.notification.warning i{

    color: var(--orange-color);

}

/* Light */
div.card.my-card.notification.light{

    background-color: var(--grey-10-color);
}

div.card.my-card.notification.light div,
div.card.my-card.notification.light i{

    color: var(--grey-50-color);

}


/* Formulaire */
/* CkEditor */
.cke_inner{

    border-radius: 8px;

}
.cke_top{

    border-bottom: 1px solid var(--marine-10-color)!important;
    background: white!important;
    border-radius: 8px 8px 0 0 ;
}

.cke_chrome{

    border: 1px solid var(--marine-10-color)!important;
    border-radius: 8px;

}

.paragraph .cke_chrome{

    border-left: 0px!important;
    border-right: 0px!important;
    border-bottom: 0px!important;

    border-radius: 8px;

}


.sheet-form{

    height: 90vh;
    margin-top: 60px;


}

.sheet-form .my-border{

    border: 1px solid var(--marine-color);

}


.sheet-form ::placeholder{

    /* color: var(--grey-30-color); */
    color: var(--marine-color);
    opacity: 0.3;


}

.sheet-form label, .sheet-form legend, .form-header .my-card .card-title, .custom-file-label{

    font-family: "Roboto", sans-serif;
    color: var(--marine-color)!important;
    font-weight: 500;
    opacity: 0.5;

    cursor: normal;
    text-transform: none!important;
    
}

.sheet-form label.custom-file-label, .custom-file-label{

	font-size: 13px;
	opacity: 1;
	border: 2px solid var(--grey-20-color);
	height: 50px;
	border-style: dashed;
	line-height: 32px;
	overflow: hidden;
    text-overflow: ellipsis;
    
}

label.custom-file-label[for="sheet_pic"]{

    height: 50px;
    margin-top: 3px;
}

.sheet-form label.custom-file-label::after, label.custom-file-label::after{

    display: none;

}


.sheet-form .sheet_image_container{

    flex: 0 0 100px;

}

.sheet-form #sheet_image{

    height: 100px;
    width: 100px;

    border-radius: 8px;
    background-color: var(--marine-background-color);


}


.sheet-form #sheet_title{

    margin-top: 25px;
    margin-bottom: 0;

    padding: 0;

    height: 45px;

    color: black;
    background-color: transparent;

    border: none;

    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;

}

.sheet-form #sheet_subtitle{

    margin-top: 5px;
    margin-bottom: 20px;

    padding: 0;

    height: 30px;

    color: var(--grey-70-color);
    background-color: transparent;

    /* font-size: 20px; */
    /* font-weight: 500; */

    border: none;

    font-size: 21px;
    font-weight: 500;
    /* margin-bottom: 25px;
    margin-top: 2px; */
    line-height: 34px;
    font-family: "Roboto";

}

.sheet-form i.header-icon {

    font-size: 18px;
    color: var(--marine-color);

}

.sheet-form .action-container{

    margin-top: 230px;

}

.sheet-form .form-container{

    min-height: 110vh;

    padding-bottom: 100px;

}

.vich-file, .attachments{

    width: 100%;
    margin: 12px 0px 20px;

}

#sheet_attachments{

    width: 100%;

}

#sheet_attachments .title input{

    margin: 0;
    margin-top: 0px;
    padding: 0;
    font-size: 14px;
    color: var(--marine-color);
    font-weight: 500;
    border: none;
    height: 25px;
    margin-top: 4px;

}


#sheet_headers .section input, #sheet_headers .section textarea{

    margin: 0;
    margin-top: 0px;
    padding: 0;
    font-size: 14px;
    color: var(--marine-color);
    font-weight: 500;
    border: none;
    height: 25px;
    margin-top: 2px;

    font-family: "Roboto", sans-serif;

    white-space: pre-wrap;

}


#sheet_headers .section textarea{

    font-weight: 400;

}





#sheet_attachments .file-card, div.card.my-card.file-card.attachment{

    font-family: "Roboto", sans-serif;
    padding: 10px 12px!important;

    border-radius: 4px;

    width: 300px!important;

}


@media screen and (min-width: 800px) { 
    

} 

#sheet_attachments .title input:focus{

    box-shadow: none;

}

#sheet_attachments td.icon{

    width: 30px;

}


#sheet_attachments td.delete{

    width: 10px;

}

/* Attachment Upload */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {

    padding: 6px 8px;
    font-size: 12px;
    font-weight: 500;

    color: var(--grey-70-color);
    background-color: var(--grey-15-color);

    border-radius: 8px;

    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: var(--grey-30-color);
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}


/* .sheet-form input.form-control-file{

    border: 2px solid var(--grey-40-color);
    border-style: dashed;
    min-height: 50px;
    line-height: 50px;

    padding: 10px 20px;

    border-radius: 8px;

} */

/* input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
} */

.sheet-form #sheet_title:focus,
.sheet-form #sheet_subtitle:focus,
#sheet_headers .header_title input,
#sheet_headers .section input,
#sheet_headers .section textarea,
#sheet_paragraphs .paragraph_title input{

    outline: 0!important;
    outline-width: 0!important;
    box-shadow: none!important;

    background-color: transparent!important;

}

#sheet_headers input,
#sheet_paragraphs input{

    margin-top: 0;

}

#sheet_headers .header_title input,
#sheet_paragraphs .paragraph_title input{

    border: none;
    padding: 0;
    color: var(--purple-color);
    height: 25px;
    margin-left: -2px;   
    
    margin-bottom: 0;

    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;

}

.form-group.my-paragraph:first-child .paragraph-move.up,
.form-group.my-paragraph:last-child .paragraph-move.down,
.form-group.my-section:first-child .section-move.up,
.form-group.my-section:last-child .section-move.down{
    
    
    pointer-events: none;
    opacity: 0.4!important;
    cursor: not-allowed!important;

}


div.form-header{

    width: 350px;

}

div.form-header table.my-table td{

    padding-top: 5px!important;
    padding-bottom: 5px!important;
    font-size: 14px;

}

div.form-header table.my-table td select#sheet_subCategory{

    margin: 0;
    height: 40px;
    font-size: 13px;
    padding: 9px;

}

div.card.my-card.interlocutor:hover{

    cursor: pointer;
    background-color: var(--grey-15-color);

}

div.card.my-card.interlocutor.active{

    background-color: var(--purple-transparent-color);

}

td.init{

    width: 40px;

}

div.card.my-card.interlocutor.active div.init-circle{

    background-color: var(--blue-color);
    color: white;

}

div.card.my-card.interlocutor.active div.text{

    color: var(--purple-color)!important;

}

div.btn-header{

    vertical-align: middle;

}

div.header input{

    margin-bottom: 0!important;


}

div.section input{

    margin: 0!important;


}


div.card.my-card.header{

    padding: 0px!important;
    margin-bottom: 30px;

}

/********/
.fil-ariane{

    font-family: 'Poppins', sans-serif;
    font-size: 15px;

}

.fil-ariane a{

    text-decoration: underline!important;
}


.fil-ariane a:hover{

    color: var(--blue-color);
}


.attachment{

    overflow: hidden;

}

.attachment .type{

    height: 40px;
    width: 40px;
    line-height: 22px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--grey-10-color)!important;

    padding: 9px 7px;

    font-size: 11px;
    font-weight: 600;

}

.attachment .title{

    font-size: 14px;
    color: black;

    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.attachment .details{

    font-size: 14px;
    
}



/* Admin */

ul.filters li{
 
    list-style-type: none;

}

/*put red dot before all the active list items*/
ul.filters li.active:before {
    content: "• "; /*don't miss the space*/


}
  
/*put dot but make it invisible before the inactive list items*/
ul.filters li:not(.active):before {
    content: "• "; /*don't miss the space*/
    visibility: hidden;
}

ul.filters a{

    color: #58585a;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;

    text-decoration: none;

}


p.lead{

    color: black;
    font-family: 'Fira Sans', sans-serif;

}

.fil-ariane a.btn-category{

    color: #0067F4;

}

.fil-ariane a.btn-category:hover{

    color: white!important;

}


span.pole{

    text-transform: none;
    letter-spacing: 0.5px;
}

div.card.my-card.paragraph-card{

    font-family: 'Poppins', sans-serif;
    color: var(--marine-color);

    border-radius: 4px;

}

div.card.my-card.paragraph-card.header{


    border-radius: 14px;

}

div.card.my-card.paragraph-card .card-header{

    color: var(--marine-color);
    background-color: white;
    font-size: 15px;
    border: none;


}

.paragraph-card.header .btn-paragraph {
    
    padding-top: 34px;
    padding-left: 24px;
    color: var(--purple-color);

}

.paragraph-card.header .btn-paragraph:hover{
    
    cursor: initial!important;

}

.sheet-container h5, .btn-paragraph h5{

    font-family: "Roboto";

    font-size: 18px;
    font-weight: 500;

    color: var(--marine-color);

}

.paragraph-body{


    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    font-size: 15px;
    line-height: 25px;
    color: black;

}
.paragraph-body table{

    background-color: var(--purple-transparent-color);
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.comment{

    font-size: 12px;
    font-style: italic;

}

.content strong{

    background-color: transparent!important;
    background-blend-mode: multiply!important;
    font-weight: 600;


}


/* Pole card */

div.pole-card{
    
    position: relative;
    overflow: hidden;



    height: 150px;

    /* border-radius: 4px!important; */


}

.header-card{

    
    position: relative;
    overflow: hidden;

    height: 200px;   
    width: 300px;

}
/* 
@media screen and (max-width: 1280px) {

    .header-card{

        height: 100px;   
        width: 200px;
    }
} */

.header-card .background{

    border-radius: 8px 8px 0px 0px;

}

.background{

    position:absolute;
    top:0;right:0;bottom:0;left:0;
    z-index: 1;

    /* background: rgb(37,56,88); */
    /* background-image: linear-gradient(0deg, rgba(37,56,88,1) 17%, rgba(37,56,88,0) 100%), url(http://placeimg.com/300/300/any); */
    background-size: cover;
    background-blend-mode: multiply;
    transition: all 0.2s ease;

    background-position: center;

    border-radius: 4px;

}

.card-body{

    z-index: 2;

}


.pole-card:hover .background,
.pole-card:focus .background {

  transform: scale(1.2);

}


.pole-card .card-body{

    min-height: 200px;

    overflow-x: hidden;

    color: white;

}

.pole-card .pole-title{

    position: absolute;

    bottom: 15px;


    font-size: 18px;
    line-height: 25px;
    
    font-weight: 700;


    
}

.pole-card .pole-subtitle{

    position: absolute;

    width: 80%;
    bottom: 15px;

    font-size: 11px;
    opacity: 0.8;
    font-weight: 500;

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

.sheet-picture{

    background-size: cover;
    background-position: center;

    height: 155px;
    width: 155px;

    border-radius: 14px;

    transition: all 0.2s ease;


}

/* .sheet-picture:hover{

    transform: scale(1.2);

} */


.author-picture{

    position: absolute;
    bottom: 20px;
    left: 20px;

    background-color: white;
    height: 28px;
    width: 28px;

    border-radius: 25px;

}

.author-picture div{

    position: absolute;
    left: 50%;
    top: 50%;

    -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.sheet-picture.small{

    height: 60px;
    width: 60px;

    border-radius: 10px;

}




