/* Documentation Header (liste des Pôles, Catégories et Sous-Catégories) */
div.documentation-header{

    margin-top: 40px;

}

div.documentation-header h1.my-h1{

    margin-bottom: 5px;

}

div.documentation-header p{

    color: black;
    font-size: 1.1em;

}

div.documentation-header img{

    height: 400px;
    position: absolute;


}

form.search-form {

    margin-top: 30px;

}

form.search-form input{

    margin-top: 0;

    font-size: 1.05em;

    height: 50px;
    background-color: var(--grey-10-color);
    color: var(--grey-70-color);
    border: none;

    padding: 8px 20px;

}

form.search-form input::placeholder{

    color: #afb1b2;

}



form.search-form button, form.search-form button:focus{

    font-size: 1.6em;

    color: var(--blue-color);
    background-color: var(--grey-10-color);

    border-radius: 0px 10px 10px 0px;
    border: 1px solid var(--grey-10-color);
    border-left: none;
    padding: 0 15px;

    box-shadow: none;

    margin-top: 0;
    
}

form.search-form button:hover{

    background-color: var(--blue-color);
    color: white;
    
}

/* Documentation Cards Container */
div.my-background{

    background-color: var(--blue-background-color);
    margin-top: 0;
    padding-bottom: 300px;

}

div.cards-container{

    margin-top: 0;
    padding-top: 30px;

}

/* Liste des documents */

/* Entete */
.btn-primary.btn-sm{

    color: white!important;

}

.folder-header div.container{

    margin-top: 0;
    padding-top: 100px;

}

.folder-header{

    font-family: 'Poppins', sans-serif;
    background-color:  var(--blue-background-color);

}

.folder-header div.category-title{

    font-weight: 700;
    font-size: 48px;

    color: black;

}

.folder-header div.category-subtitle{

    font-weight: 700;
    font-size: 30px;

    color: var(--grey-50-color);

}

/* Illustrations */
img.folder-illustration{

    height: 320px;
    position: absolute;
    top: -40px;


}


/* Icones */
.my-circle{

    background-color: var(--blue-color);

    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;

}

.my-circle .icon{

    font-size: 1.2em;
    line-height: 36px;
    color: white;
}

.my-circle.small{

    background-color: var(--blue-color);

    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;

}

.my-circle.small .icon{

    font-size: 1.2em;
    line-height: 23px;
    color: white;
}


/* Fichiers */

div.card.my-card.file{

    font-family: 'Poppins', sans-serif;
    padding-top: 0;
    padding-bottom: 0;

}

div.card.my-card.file table{

    width: 100%;

}

div.card.my-card.file td.file-icon{

    width: 5%!important;

    padding-top: 12px;
    vertical-align: top;
}

div.card.my-card.file td.file-content{

    width: 90%!important;
}

div.card.my-card.file td.file-content{

    padding-left: 20px;
    padding-right: 30px;

}

    .file-title{

        color: black;
        font-size: 1.2em;
        font-weight: 600;

        }
        .file-title i{
            
            font-size: 1.1em;
            vertical-align: middle;
        }

        i.success, td.success{
            
            color: var(--blue-color);

        }

        i.warning, td.warning{
            
            color: var(--orange-color);

        }

        i.danger, td.danger{
            
            color: var(--red-color);

        }

        i.light, td.light{
            
            color: var(--grey-50-color);

        }

    .file-organization{

        font-size: 1.1em;
    }

    .file-data{

        font-size: 0.9em;
    }


div.card.my-card.file td.file-author{

    width: 5%!important;
}

table.my-table td.file-author{

    vertical-align: bottom;
    text-align: right;

}

table.my-table td.file-author div{

    float: right;
    margin-right: 10px;

}


/* Sheet */
div.container-fluid.sheet-container{

    margin-top: 0;

}

.sheet-container div.summary{

    background-color: var(--grey-10-color);
    padding: 60px 40px;

}

.sheet-container div.content{

    padding: 60px 60px;

}

.sheet-container div.header{

    background-color: var(--grey-10-color);
    padding: 60px 40px;

}

/* Sommaire */
ul.sheet-menu {

    list-style-type: none;
    padding-left: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;

    color: black;

}

ul.sheet-menu li{

    padding-top: 5px;
    padding-bottom: 5px;
}

ul.sheet-menu a {

    list-style-type: none;
    padding-left: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;

    

    color: var(--grey-50-color);

}

ul.sheet-menu a:hover {

    color: black;

}


/* Content */
.sheet-title{

    font-family: 'Poppins', sans-serif;

    font-weight: 700;
    font-size: 48px;
    line-height: 1.1em;

    margin-top: 20px;

    color: black;
}

div.sheet-content h1, div.sheet-tools h1#outils, h1.headers{

    margin-top: 50px;
    margin-bottom: 40px;

    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;

    color: black;

}

div.sheet-content h2{

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;

    color: black;

}

div.sheet-content p{

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;

    color: black;

}

/* Header */
.sheet-container div.header h2, .sheet-container div.summary h2, .my-title{

    font-family: 'Poppins', sans-serif;

    margin-top: 50px;
    margin-bottom: 25px;

    font-size: 20px;
    font-weight: 600;

}

.my-title.strong{

    font-weight: 700;
}

div.card.header-card{

    color: white;

    text-align: center;
    margin-top: 0;

    background-image: url(http://placeimg.com/300/200/any);
    min-height: 200px;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;
    border-radius: 10px;
    font-weight: 400;
    border: none!important;
    
    -webkit-box-shadow: 12px 12px 23px -15px rgba(0,0,0,.7);
    -moz-box-shadow: 12px 12px 23px -15px rgba(0,0,0,.7);
    box-shadow: 12px 12px 23px -15px rgba(0,0,0,.7);

}

div.card.header-card .sheet-folder{

    margin-top: 10px;
    font-size: 12px;

}

div.card.header-card .sheet-title{

    margin-top: 40px;
    color: white;
    font-size: 25px;
    
    
}

div.card.header-card .sheet-organization{

    font-size: 20px;
}


/* Organization */
div.card.my-card.organization-card{

    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: black;  

}

.organization-title{

    font-size: 1.2em;
    font-weight: 600;

}

.organization-phone, .organization-email{

    font-size: 0.9em;
    font-weight: 500;

}


/* Dashboard */

/* Dashboard Sidebar */
div.my-sidebar{

    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 250px; /* Same as Content margin */
    height: 100%;

    padding: 20px 20px 60px 0px;
    display: inline-block;

    background-color: var(--grey-10-color);


}

div.my-sidebar .sidebar-title{

    font-size: 14px;
    font-weight: 600;
    color: var(--grey-40-color);

    text-transform: uppercase;
    line-height: 30px;

    margin-top: 40px;
    padding-left: 30px;
    

}

div.my-sidebar i{

    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

div.my-sidebar a.sidebar-link{


    font-size: 14px;
    font-weight: 600;
    color: var(--grey-70-color);
    width: 100%;

    line-height: 20px;
    display: inline-block;
    text-align: left;
    margin: 5px 0;
    padding: 10px 10px 10px 30px;

    border-radius: 0px 20px 20px 0px;

}

div.my-sidebar a.sidebar-link:hover{

    background-color: var(--grey-15-color);

}

div.my-sidebar a.sidebar-link.active{

    background-color: var(--blue-transparent-color);
    color: var(--blue-color);

}

/* Dashboard Content */

div.my-content{

    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 80vh;
    

    padding: 15px 60px 60px 280px; /* Same as Sidebar Width + 30px */

}

div.my-content .my-h1{
    
    font-size: 22px;
    font-weight: 600;
    color: black;

    margin-top: 40px;
    margin-bottom: 40px;
    
}

div.my-content div.main-content{

    width: 70%;
    display: inline-block;

}

div.my-content div.details{

    width: 30%;
    height: 500px;
    float: right;
    display: inline-block;

    margin-top: 125px;

    padding-left: 80px;

}



div.dashboard-content{

    background-color: var(--blue-background-color);
    padding: 10px 35px;

}

div.dashboard-content .my-h1{
 
    margin-top: 60px;
    
}


div.card table.my-table td.stat-bar{

    width: 80%;
    padding: 0;

}

div.card table.my-table td.porcentage{

    color: var(--blue-color);
    font-weight: 600;

}

div.bar{

    background-color: var(--blue-color);
    height: 4px;
    width: 100%;
    border-radius: 4px;

}

/* Table Notification */

div.card.my-card.notification td.file-icon-state{
    vertical-align: top;
    font-size: 1.7em;
    padding-right: 5px;
    padding-top: 7px;

    width: 20px;

}

div.card.my-card.notification div.file-title{
    
    /* font-size: 15px; */
    font-weight: 600;

}

div.card.my-card.notification div.file-state{
    
    font-size: 15px;
    font-weight: 500;

}

div.card.my-card.notification div.notification-time{
    
    font-size: 14px;
    font-weight: 400;

}

div.notification-message{

    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    margin-top: 20px;

}

/* Danger */
div.card.my-card.notification.danger{

    background-color: var(--red-transparent-color);
}

div.card.my-card.notification.danger div,
div.card.my-card.notification.danger i{

    color: var(--red-color);

}


/* Warning */
div.card.my-card.notification.warning{

    background-color: var(--orange-transparent-color);
}

div.card.my-card.notification.warning div,
div.card.my-card.notification.warning i{

    color: var(--orange-color);

}

/* Light */
div.card.my-card.notification.light{

    background-color: var(--grey-10-color);
}

div.card.my-card.notification.light div,
div.card.my-card.notification.light i{

    color: var(--grey-50-color);

}


/* Formulaire */
div.container.sheet-form{

    height: 90vh;
    margin-top: 60px;


}

div.container input#sheet_title{

    margin-top: 0;
    font-size: 18px;
    color: black;
    font-weight: 600;


}


div.form-header{

    width: 350px;

}

div.form-header table.my-table td{

    padding-top: 5px!important;
    padding-bottom: 5px!important;
    font-size: 14px;

}

div.form-header table.my-table td select#sheet_subCategory{

    margin: 0;
    height: 30px;
    font-size: 12px;
    padding: 5px;

}

div.card.my-card.interlocutor:hover{

    cursor: pointer;
    background-color: var(--grey-15-color);

}

div.card.my-card.interlocutor.active{

    background-color: var(--blue-transparent-color);

}

div.card.my-card.interlocutor.active div.init-circle{

    background-color: var(--blue-color);
    color: white;

}

div.card.my-card.interlocutor.active div.text{

    color: var(--blue-color)!important;

}

div.btn-header{

    vertical-align: middle;

}

div.header input{

    margin-bottom: 0!important;


}

div.section input{

    margin: 0!important;


}


div.card.my-card.header{

    padding: 0px!important;
    margin-bottom: 30px;

}

































/* Admin */

ul.filters li{
 
    list-style-type: none;

}

/*put red dot before all the active list items*/
ul.filters li.active:before {
    content: "• "; /*don't miss the space*/


}
  
/*put dot but make it invisible before the inactive list items*/
ul.filters li:not(.active):before {
    content: "• "; /*don't miss the space*/
    visibility: hidden;
}

ul.filters a{

    color: #58585a;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;

    text-decoration: none;

}



p.lead{

    color: black;
    font-family: 'Fira Sans', sans-serif;

}

.fil-ariane a.btn-category{

    color: #0067F4;

}

.fil-ariane a.btn-category:hover{

    color: white!important;

}


span.pole{

    text-transform: none;
    letter-spacing: 0.5px;
}



