/* Navbar */

/* nav.navbar.my-navbar {

    border: none;

} */

nav ul li a.nav-link i{

    font-size: 1.1em;
    font-weight: 700;
    vertical-align: middle;

}

nav.my-navbar ul li a.nav-link.home.active i{

    color: var(--pink-color);

}

nav.my-navbar ul li a.nav-link.documentation.active i{

    color: var(--blue-color);

}

nav.my-navbar ul li a.nav-link.antennes.active i{

    color: var(--green-color);

}

nav.my-navbar ul li a.nav-link.active{

    color: black;
    opacity: 1;

}


/* Navbar admin */

nav.navbar-admin{

    background-color: #8338ec;

}

.navbar-brand {
    color: white;
}

nav.navbar-admin ul li a.nav-link{

    color: white;
    opacity: 0.6;

}

nav.navbar-admin ul li a.nav-link.nav-my-avatar{

    opacity: 1;

}

nav.navbar-admin ul li a.nav-link.active i{

    color: #ff006e;

}

nav.navbar-admin ul li a.nav-link.active{

    color: white;
    opacity: 1;

}

/* Padding du Menu  */
.navbar-expand-lg .navbar-nav .nav-link {

    padding: 1.2rem;
    vertical-align: middle;

}

a.btn.intramilo{

    /* Code à améliorer */
    /* margin-top: 22px;
    margin-right: 20px; */

}
