div.container-fluid.main-sheet-container{

    margin-top: 0;
}

.btn.btn-light.return{

    background-color: white;

}

.sheet-menu ul.menu{

    list-style-type: none;
    padding-inline-start: 0;

    border-left: 2px solid transparent;
    

}


.sheet-menu ul.menu li{

    border-left: 2px solid transparent;
    

}

.sheet-menu ul.menu li:hover{

    background-color: rgba(58, 139, 255, 0.2);
    border-left: 2px solid #4582ec;
    

}

.sheet-menu ul.menu a, .header-menu .menu{

    text-decoration: none;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;

}

.sheet-menu ul.menu .subtitle{

    font-size: 12px;

}

p.fil-ariane{
    font-family: 'Fira Sans', sans-serif;
}

p.fil-ariane button.options{

    background-color: blue;
    color: white;
    text-decoration: none;

}

i.fas.options{

    color: #58585a;
}


.header-menu .menu.active{

    color: #4582ec;

}

.table.table-header thead th, .table.table-header td{

    border-top: none;
    border-bottom: none;

}

.table.table-header td{

    padding: 8px 12px;
    font-size: 14px;

}


.tools .title, .header-title{

    text-transform: uppercase;
    color: #9c9e9f;

    font-size: 15px;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

.header-image{

    color: white;
    background-image: url(http://placeimg.com/300/200/any);
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;

    border-radius: 10px;

    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;

    -webkit-box-shadow: 12px 12px 23px -15px rgba(0,0,0,0.7);
    -moz-box-shadow: 12px 12px 23px -15px rgba(0,0,0,0.7);
    box-shadow: 12px 12px 23px -15px rgba(0,0,0,0.7);
}

.header-image h4, .header-image h6{
    font-family: 'Fira Sans', sans-serif;

    color: white;

}



a.tool{

    background-color: rgba(58, 139, 255, 0.1);
    border: none;
    color: #3a8bff;
    font-weight: 600;


}


h1.sheet-title{

    font-size: 45px;
    font-weight: 800;
    font-family: 'Fira Sans', sans-serif;

}

p.sheet-infos{

    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
}


.content h1{

    font-size: 30px;
    font-weight:400;
    font-family: 'Fira Sans', sans-serif;

    padding-bottom: 10px;

}

.content h1:not(:first-child){

    padding-top: 40px;

}

.content h2{

    font-size: 20px;
    font-weight:500;
    font-family: 'Fira Sans', sans-serif;

    padding-bottom: 10px;

}

.content div, .content p{

    font-size: 16px;
    line-height: 27px;
    color: #58585a;
    font-family: 'Fira Sans', sans-serif;

}

.content strong{

    background-color: rgba(58, 139, 255, 0.2);
    background-blend-mode: multiply;
    font-weight: normal

}

/* div.cke_contents.cke_reset{

    height: 500px!important;
} */