<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Intramilo - {% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">

        {{ encore_entry_link_tags('css/app') }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous" />
        
        {# <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"> #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        {# <link rel="stylesheet" href="/css/app.css"> #}

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/files.css">
        <link rel="stylesheet" href="/css/sheet.css">
        <link rel="stylesheet" href="/css/documentation.css">

        {# Fonts #}
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans300,800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">

        {# <link rel="stylesheet" href="/css/app.css"> #}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    {% include 'admin/partials/header.html.twig'  %}
    
    {% block body %}{% endblock %}

    {% include 'admin/partials/footer.html.twig'  %}
    


        {{ encore_entry_script_tags('js/app') }}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
