.navbar-brand{
    font-family: "Karla";
    font-weight: 600;
    font-size: 1.1em;
    padding: 0 50px;

}

.navbar-brand img{
    max-height: 40px;
    margin-right: 15px;

}



ul li a.nav-link{

    padding: 15px 20px;
    font-family: "Karla";
    font-weight: 600;
    font-size: 1.1em;

}

ul li a.nav-link i{

    margin-right: 5px;

}