.navbar-brand{
    font-family: "Karla";
    font-weight: 600;
    font-size: 1.1em;
    padding: 0 50px;

}

.navbar-brand img{
    max-height: 40px;
    margin-right: 15px;

}



ul li a.nav-link{

    padding: 15px 20px;
    font-family: "Karla";
    font-weight: 600;
    font-size: 1.1em;

}

ul li a.nav-link.home:hover, ul li a.nav-link.home.active,
ul li a.nav-link.dashboard:hover, ul li a.nav-link.dashboard.active,
ul li a.nav-link.admin:hover, ul li a.nav-link.admin.active{

    color: #ff006e!important;

}

ul li a.nav-link.documentation:hover, ul li a.nav-link.documentation.active{

    color: #3A86FF!important;

}

ul li a.nav-link.antennes:hover, ul li a.nav-link.antennes.active{

    color: #2ECC71!important;

}

ul li a.nav-link i{

    margin-right: 5px;

}