{% extends 'admin/base.html.twig' %}

{% block title %}Liste des postes{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-h1">Liste des postes <a href="{{ path('admin_poste_create') }}" class="btn btn-my-add-admin"><i class="uil uil-plus"></i> Ajouter un poste</a></h1>

    <table class="table my-table">
        <thead>
            <tr>
                <th class="text-left" colspan="2">Poste</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>

        

        {% for poste in postes %}
            <tr>
                <td class="text-left">
                    {{ poste }}
                </td>
                <td>
                    {% for user in poste.users %}
                        {% include '_picture.html.twig' with {'user': user, 'class': 'medium'} %}
                    {% endfor %}
                </td>
                <td class="pr-0">
                    <a href="{{ path('admin_poste_edit', {'id':  poste.id }) }}" class="btn btn-my-warning">
                        <i class="uil uil-pen"></i> Modifier
                    </a>
                </td>
                <td class="pl-0">
                    <a href="{{ path('admin_poste_delete', {'id':  poste.id }) }}" class="btn btn-my-danger">
                        <i class="uil uil-times"></i> Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>            
</div>



{% endblock %}


{% block javascripts %}

{% endblock %}