{% extends 'base.html.twig' %}

{% block title %}
    Documentation - Modification d'une fiche
{% endblock %}

{% block body %}

{% form_theme form 'documentation/sheet/_collection.html.twig' %}

{% include 'documentation/sheet/_form_base.html.twig' %}



{% endblock %}

{% block javascripts %}

{# Pour le chargement des interlocuteurs #}
<script>
    var path = "{{ path('interlocutor_load') }}";
</script>
<script src="{{ asset('/js/interlocutors.js') }}"></script>
        

{# Script de validation du formulaire de la fiche #}
<script src="{{ asset('/js/validation.js') }}"></script>
<script src="{{ asset('/js/sheet.js') }}"></script>

<script>
    {# Input <Mise à jour> des pièces jointes #}
    $('.form-container .custom-file-input').next().html('<span class="op-40"><i class="fas fa-upload mr-3"></i> Mettre à jour</span>');
</script>


{% endblock %}