{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'un pôle{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Modification d'un pôle</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">
        <i class="fas fa-check"></i> Modifier le pôle
    </button>

    {{ form_end(form) }}



</div>
{% endblock %}
