{# templates/emails/registration.html.twig #}
<h3>Mot de passe oublié</h3>

Bonjour {{ user.firstName }}! Vous avez oublié votre mot de passe.

{# example, assuming you have a route named "login" #}
Pour le réinitialiser, cliquez sur ce <a href="{{absolute_url(path('account_reset_password_token', {'id': user.id, 'token': user.token}))}}">lien</a>.