{% extends 'base.html.twig' %}

{% block title %}
    Page introuvable
{% endblock %}


{% block body %}

<div class="container my-container text-center">
    <div class="error-container">

        <p class="error-status">404</p>
        <p class="error-message">Page introuvable </p>
        <p class="error-content">La page que vous demandez n'existe pas ou plus. Veuillez contacter un administrateur si besoin.</p>

        <a href="{{ path('homepage')}}" class="btn btn-my-outline mt-2">Retour à l'accueil</a>
        <a href="{{ path('doc_index')}}" class="btn btn-my-primary mt-2 ml-2">Documentation</a>
    
    </div>
</div>

{% endblock %}