<a href="{{ path('doc_pole', {'id': pole.id }) }}" class="pole-link">
    <div class="card my-card no-border my-box pole-card p-0 px-0 mx-0">

        <div class="background" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url({{ asset('files/pictures/' ~ pole.pictureFilename) }});">
        </div>

        <div class="card-body p-3">

            <div class="pole-title">{{ pole.title }}</div>
            {# <div class="pole-subtitle">

                {% for cat in pole.category %}
                    {{ cat.title }} {% if not loop.last %},{% endif %}
                {% endfor %}

            </div> #}

        </div>

    </div>
</a>