{% extends 'base.html.twig' %}

{% block title %}
    Documentation
{% endblock %}


{% block header %}

{% endblock %}


{% block body %}

<div class="container">

    <div class="row">
        <div class="col-12">
            
            {# Poles Cards #}
            {# <div class="my-title mb-0 mt-4">Pôles</div> #}
            <div class="row align-items-center">

                {% for pole in poles %}
                    <div class="col-md-6 col-lg-4 col-xl-4">
                        {% include 'documentation/_pole.html.twig' %}
                    </div>
                {% endfor %}
            </div>

            {# <nav class="mt-6 mb-4">
                <div class="nav nav-tabs no-border" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link my-title no-border bg-transparent pl-0 pr-4 active" id="nav-favorites-tab" data-toggle="tab" href="#nav-favorites" role="tab" aria-controls="nav-favorites" aria-selected="true">Mes favoris</a>
                    <a class="nav-item nav-link my-title no-border bg-transparent pl-0 pr-4" id="nav-popular-tab" data-toggle="tab" href="#nav-popular" role="tab" aria-controls="nav-popular" aria-selected="false">Les plus populaires</a>
                  
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-favorites" role="tabpanel" aria-labelledby="nav-favorites-tab">
                
                
                
                
                <div class="row">
                    <div class="col-12">

                        <div class="row">

                        {% if app.user.favorites|length > 0 %}
                            {% for file in app.user.favorites %}

                                <div class="col-6 front white">
                                    {% include 'documentation/_file.html.twig' %}
                                </div>

                            {% endfor %}
                        {% else %}
                            <p class="text mx-4">Aucun favori</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                </div>
                <div class="tab-pane fade" id="nav-popular" role="tabpanel" aria-labelledby="nav-popular-tab">


                    <div class="row">
                        <div class="col-12">

                            <div class="row">
                                    {% for file in popular %}

                                        <div class="col-6 front white">
                                            {% include 'documentation/_file.html.twig' %}
                                        </div>

                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                
                
                </div>
            </div> #}

            {# Favorites #}
            <div class="row mt-6 mb-4">
                <div class="col-12">
                    <div class="my-title mb-4">Mes favoris</div>

                    <div class="row">
                        
                        {% if app.user.favorites|length > 0 %}
                            {% for file in app.user.favorites %}

                                <div class="col-6 front white">
                                    {% include 'documentation/_file.html.twig' %}
                                </div>

                            {% endfor %}
                        {% else %}
                            <p class="text mx-3">Aucun favori ajouté</p>
                        {% endif %}

                    </div>
                </div>
            </div>


            {# Most Popular #}
            <div class="row mt-6 mb-4">
                <div class="col-12">
                    <div class="my-title mb-4">Les plus populaires</div>

                    <div class="row">
                            {% for file in popular %}

                                <div class="col-6 front white">
                                    {% include 'documentation/_file.html.twig' %}
                                </div>

                            {% endfor %}
                    </div>
                </div>
            </div>

            
            {# <div class="row mt-6 mb-4">
                <div class="col-12">
                    <div class="my-title mb-0">Contributeurs</div>

                        <div class="row">

                            {% for author in authors|sort((a, b) => b.sheets|length <=> a.sheets|length) %}

                                {% if loop.index <= 6 %}

                                    <div class="col-2">
                                        <div class="">
                                            <div class="card my-card no-border div card-body px-2 py-4">

                                                <div class="text-center">
                                                    <div class="">{% include '_picture.html.twig' with {'user': author, 'class': 'medium'} %}</div>
                                                    <div class="small main text-center mt-3 bleu">{{ author.fullName }}</div>
                                                    <div class="my-secondary text-center">{{ author.sheets|length }} fiches</div>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                </div>
            </div> #}





        </div>
    </div>

</div>




{% endblock %}






{% block javascripts %}

{% endblock %}