{% extends 'base.html.twig' %}

{% block title %}
    Documentation
{% endblock %}


{% block header %}
    <h2>Voici mon header !</h2>
{% endblock %}

{% block body %}

{% include 'partials/search.html.twig'  %}

    <div class="container documentation-container">  

        <div class="row">

            {% for category in categories %}

            <div class="col-md-4">
                <div class="card bg-white mb-3 documentation-card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">
                        {{ category.title }}                    
                        </h4>
                        
                        {% for sub in category.subCategories %}
                            <p class="card-text">
                                <a href="{{ path('doc_show', {'slug': category.slug, 'sub_slug': sub.slug }) }}">
                                    {{ sub.title }} 
                                </a>                        
                            </p>
                        {% endfor %}

                    </div>
                </div>
            </div>

            {% endfor %}
           
        </div>
        
    </div>

{% endblock %}