{% extends 'base.html.twig' %}

{% block title %}
    Documentation
{% endblock %}


{% block header %}
    <h2>Voici mon header !</h2>
{% endblock %}

{% block body %}

{% include 'partials/search.html.twig'  %}
<div class="my-background">

    <div class="container cards-container">  

        <div class="row">
            <div class="col-12 text-center">
                <div id="filters">

                    {# {% include '_dot.html.twig' with {'color': "grey" }  %} #}
                    <button type="button" class="btn my-filter active" data-filter=""> <span class="my-dot">•</span> Tous</button>
                    {% for pole in poles %}
                        
                        {% if pole.category|length > 0 %}
                        <button type="button" class="btn my-filter pole {{ pole.labelColor }}" data-my-filter="{{ pole.id }}"><span class="my-dot {{ pole.labelColor }}">•</span> {{ pole.title }}</button>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        
        </div>

        <div class="row mt-4">

        {% for pole in poles %}

            {% for category in pole.category %}

                {% if category.subCategories|length > 0 %}

                    {% include 'documentation/_category_card.html.twig' with {'category': category }  %}

                {% endif %}


            {% endfor %}

        {% endfor %}
           
        </div>
        
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script>

$( ".my-filter" ).click(function() {

    $('.my-filter').removeClass('active');
    $(this).addClass('active');

    var id = $(this).data('my-filter');

    if(id){

        $('.filterCard').addClass('d-none');
        $('.filterCard[data-pole="'+ id +'"]').removeClass('d-none');

    }else{

        $('.filterCard').removeClass('d-none');

    }

   

});


</script>

{% endblock %}