{% extends 'base.html.twig' %}

{% block title %}
    Documentation - Résultats
{% endblock %}


{% block header %}
    <h2>Voici mon header !</h2>
{% endblock %}

{% block body %}


        <div class="container search-container mt-0">

            <div class="row mt-6">
                <a href="{{ path('doc_index') }}" class="btn btn-my-return">
                    <i class="uil uil-arrow-left"></i>Aller à la Documentation</a>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="search-sidebar my-title strong mt-1 mb-0">
                        Recherche <span class="bleu">{{ query }}</span>
                    </div>
                    <div class="my-secondary">{{ files|length }} résultat{% if files|length > 1 %}s{% endif %}</div>
                </div>
                <div class="col-9">
                    {% for file in files %}
                        {% include 'documentation/_file.html.twig' with {'file': file }  %}
                    {% endfor %}
                </div>
            </div>
            
        </div>



{% endblock %}