{% extends 'base.html.twig' %}

{% block title %}
    Documentation - Résultats
{% endblock %}


{% block header %}
    <h2>Voici mon header !</h2>
{% endblock %}

{% block body %}

{% include 'partials/search.html.twig'  %}

    <div class="container">  

        <div class="row">
            <a href="{{ path('doc_index') }}" class="btn btn-primary">Retour</a>
        </div>
        <div class="row mt-3">

            
           <h1 class="mb-5">Résultats de recherche pour "{{ query }}"</h1>

           {% include 'documentation/_list.html.twig' %}

           
        </div>
        
    </div>

{% endblock %}